<!-- Banner -->
<section id="banner">
	<div class="inner">
		<h1>{{ site.index_headers.title }} {{ site.index_headers.short_description }}</a></h1>
		<ul class="actions">
			<li><a href="#one" class="button alt scrolly big">Continue</a></li>
		</ul>
	</div>
</section>