{% assign words="zero,one,two,three,four,five,six" | split: ',' %}
{% assign style="1,1,2,2,3,3" | split: ',' %}
{% for post in site.posts limit:6 %}
	{% capture modulo %}{{ forloop.index0 | modulo:2 }}{% endcapture %}
	<article id="{{ words[forloop.index] }}" class="post  style{{ style[forloop.index0] }} {% if modulo != '0' %}invert alt {% endif %}">
		<div class="image">
			<img src="{{ post.image }}" alt="" data-position="{{ post.position }}% center" />
		</div>
		<div class="content">
			<div class="inner">
				<header>
					<h2><a href="{{ site.baseurl}}{{ post.url }}">{{ post.title}}</a></h2>
					<p class="info">
					<time class="timeago" datetime="{{ post.date }}">{{ post.date }}</time> by
						{% assign author = site.data.authors[post.author] %}
						<a  href="{{ author.twitter }}"
						  title="{{ author.name }}">
						    {{ author.name }}
						</a>
					</p>
				</header>
				<p>{{ post.excerpt }}</p>
				<ul class="actions">
					<li><a href="{{ site.baseurl}}{{ post.url }}" class="button alt">Read More</a></li>
				</ul>
			</div>
			<div class="postnav">
			
			{% assign nextindex = forloop.index | plus:1 %}

				<a {% if forloop.first %}
					href="#"
					{% else %}
					rohan="sakhale"
					href="{{ words[forloop.index0] | prepend:'#' }}"
					{% endif %}

					{% if forloop.first == true %}
					 	class="prev disabled" 
					{% else %}
						class="scrolly prev"
					{% endif %} 
					 ><span class="icon fa-chevron-up"></span></a>
					
				<a href="{{ words[nextindex]  | prepend:'#' }}" 
					{% if forloop.last %}
					 	class="scrolly next disabled" 
					{% else %}
						class="scrolly next"
					{% endif %}
				><span class="icon fa-chevron-down"></span></a>
			</div>
		</div>
	</article>
{% endfor %}