<!-- Nav -->
<nav id="menu">
	<ul class="links">
		{% for menu in site.data.menus %}
			<li>
			    <a href="{{ site.baseurl }}{{ menu.url }}">
			      {{ menu.name }}
			    </a>
			</li>
		{% endfor %}
	</ul>
</nav>