<!-- Scripts -->
<script src="{{ site.baseurl }}/bower_components/binary/assets/js/jquery.min.js"></script>
<script src="{{ site.baseurl }}/bower_components/binary/assets/js/jquery.scrolly.min.js"></script>
<script src="{{ site.baseurl }}/bower_components/binary/assets/js/skel.min.js"></script>
<script src="{{ site.baseurl }}/bower_components/binary/assets/js/util.js"></script>
<script src="{{ site.baseurl }}/bower_components/binary/assets/js/main.js"></script>
<script src="{{ site.baseurl }}/bower_components/jquery-timeago/jquery.timeago.js" type="text/javascript"></script>

{{ site.google_analytics | google_analytics }}

<script type="text/javascript">
   jQuery(document).ready(function() {
     $("time.timeago").timeago();
   });
</script>