<!DOCTYPE HTML>
<!--
	Binary by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		{% include head.html %}
	</head>
	<body>
		{% include header.html %}
		{% include nav.html %}
		{% include banner.html %}
		{% include main-container.html %}
		{% include footer.html %}
		{% include scripts.html %}
	</body>
</html>
