---
layout: page
---

<!-- Main -->
	<section id="main">
		<div class="inner">
			<div class="image fit">
				<img src="{{site.baseurl}}/{{ page.image }}" alt="" />
			</div>
			<header>
				<h1>{{page.title}}</h1>
				<p class="info"><time class="timeago" datetime="{{ page.date }}">{{ page.date }}</time> by <a href="#">Jane Doe</a></p>
			</header>
			{{ page.content }}
		</div>
	</section>